<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
          Add staff
        </h1>
        <ol class="breadcrumb">
            <li>
              <i class="fa fa-user-circle"></i> Staff Management
            </li>
            <li class="active">
                <i class="fa fa-user-plus"></i> Add staff
            </li>
        </ol>
        <div class="col-md-12">
            <div class="card">
                <div data-background-color="purple">
                    <h4 class="title">Fill staff 's information</h4>
                    <br>
                </div>
              <form>
                <div class="row">
                <div class="col-md-6">
        					<div class="form-group ">
        						<label class="control-label">Username *</label>
        						<input type="text" class="form-control" required>
        					</div>
                </div>
                <div class="col-md-6">
        					<div class="form-group">
        						<label class="control-label">Email address *</label>
        						<input type="email" class="form-control" required>
        					</div>
                </div>
              </div>
              <br>
              <div class="row">
                  <div class="col-md-6">
          					<div class="form-group ">
          						<label class="control-label">Password *</label>
          						<input type="text" class="form-control" required>
          					</div>
                  </div>
                  <div class="col-md-6">
          					<div class="form-group ">
          						<label class="control-label">Fullname</label>
          						<input type="text" class="form-control" >
          					</div>
                  </div>
              </div>
              <br>
              <div class="row">
                  <div class="col-md-6">
          					<div class="form-group ">
          						<label class="control-label">Adress</label>
          						<input type="text" class="form-control" >
          					</div>
                  </div>
                  <div class="col-md-6">
          					<div class="form-group ">
          						<label class="control-label">Phone</label>
          						<input type="text" class="form-control" >
          					</div>
                  </div>
              </div>
              <br>
              <button id ="btnAdd" type="submit" class="btn btn-primary pull-right">Add</button>
              <div class="clearfix"></div>
          </form>
        </div>
        </div>
    </div>
</div>
<!-- /.row -->

<!--Import Google Icon Font-->
      <!-- <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
<!-- Compiled and minified CSS -->
 <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css"> -->

 <!-- Compiled and minified JavaScript -->
 <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script> -->
