<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
          Staff Details
        </h1>
        <ol class="breadcrumb">
            <li>
              <i class="fa fa-user-circle"></i> Staff Management
            </li>
            <li>
              <a href="staffList"><i class="fa fa-user-circle"></i> Staff List</a>
            </li>
            <li class="active">
                <i class="fa fa-info-circle"></i> Staff Details
            </li>
        </ol>
        <div class="col-md-12">
            <div class="card">
                <div data-background-color="purple">
                    <h4 class="title"> Staff 's information</h4>
                    <br>
                </div>
              <form>
                <div class="row">
                <div class="col-md-6">
        					<div class="form-group ">
        						<label class="control-label">Username </label>
        						<input type="text" class="form-control" readonly>
        					</div>
                </div>
                <div class="col-md-6">
        					<div class="form-group">
        						<label class="control-label">Email address </label>
        						<input type="email" class="form-control" readonly>
        					</div>
                </div>
              </div>
              <br>
              <div class="row">
                  <div class="col-md-6">
          					<div class="form-group ">
          						<label class="control-label">Password </label>
          						<input type="text" class="form-control" readonly>
          					</div>
                  </div>
                  <div class="col-md-6">
          					<div class="form-group ">
          						<label class="control-label">Fullname</label>
          						<input type="text" class="form-control" readonly>
          					</div>
                  </div>
              </div>
              <br>
              <div class="row">
                  <div class="col-md-6">
          					<div class="form-group ">
          						<label class="control-label">Adress</label>
          						<input type="text" class="form-control" readonly>
          					</div>
                  </div>
                  <div class="col-md-6">
          					<div class="form-group ">
          						<label class="control-label">Phone</label>
          						<input type="text" class="form-control" readonly>
          					</div>
                  </div>
              </div>
              <br>
              <button id ="btnAdd" type="" class="btn btn-danger pull-right">Block User</button>
              <div class="clearfix"></div>
          </form>
        </div>
        </div>
    </div>
</div>
<!-- /.row -->
