 <a class="color1" href="#" class="dropdown-toggle" data-toggle="dropdown">Fashion<span class="caret"></span></a>
				<div class="dropdown-menu ">
                    <div class="menu-top">
						<div class="col1">
							<div class="h_nav">
								<a href="/product/Male" class="nopad"><h4>Male</h4></a>
									<ul>
										<li><a href="">Jackets</a></li>
										<li><a href="">Bommbers</a></li>
										<li><a href="">Jeans</a></li>
										<li><a href="">Shirts</a></li>
										<li><a href="">T-Shirts</a></li>
                    <li><a href="">Trousers</a></li>
									</ul>
							</div>
						</div>
						<div class="col1">
							<div class="h_nav">
								<a href="/product/Female" class="nopad"><h4>Female</h4></a>
								<ul>
										<li><a href="">Tops</a></li>
										<li><a href="">Dresses</a></li>
										<li><a href="">Blazers</a></li>
										<li><a href="">Jackets</a></li>
										<li><a href="">Jeans</a></li>
										<li><a href="">Skirts</a></li>
									</ul>
							</div>
						</div>
						<div class="col1">
							<div class="h_nav">
								<a href="/product/Kid" class="nopad"><h4>Kid</h4></a>
									<ul>
										<li><a href="">Dresses</a></li>
										<li><a href="">Jeans</a></li>
										<li><a href="">Skirts</a></li>
										<li><a href="">Shirts</a></li>
										<li><a href="">T-Shirts</a></li>
									</ul>

							</div>
						</div>
						<div class="col1 col5">
						<img src="../images/me.png" class="img-responsive" alt="">
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
