  <a class="color2" href="#" class="dropdown-toggle" data-toggle="dropdown">Makeup<span class="caret"></span></a>				
				<div class="dropdown-menu mega-dropdown-menu">
                    <div class="menu-top">
						<div class="col1 col2">
							<div class="h_nav">
								<h4>Face</h4>
									<ul>
										<li><a href="product.html">Accessories</a></li>
										<li><a href="product.html">Bags</a></li>
										<li><a href="product.html">Caps & Hats</a></li>
										<li><a href="product.html">Hoodies & Sweatshirts</a></li>
										
									</ul>	
							</div>							
						</div>
						<div class="col1 col2">
							<div class="h_nav">
								<h4>Cheek</h4>
								<ul>
										<li><a href="product.html">Jackets & Coats</a></li>
										<li><a href="product.html">Jeans</a></li>
										<li><a href="product.html">Jewellery</a></li>
										<li><a href="product.html">Jumpers & Cardigans</a></li>
										<li><a href="product.html">Leather Jackets</a></li>
										<li><a href="product.html">Long Sleeve T-Shirts</a></li>
									</ul>	
							</div>							
						</div>
						<div class="col1 col2">
							<div class="h_nav">
								<h4>Eye</h4>
								
								<ul>
									<li><a href="product.html">Shirts</a></li>
									<li><a href="product.html">Shoes, Boots & Trainers</a></li>
									<li><a href="product.html">Sunglasses</a></li>
									<li><a href="product.html">Sweatpants</a></li>
									<li><a href="product.html">Swimwear</a></li>
									<li><a href="product.html">Trousers & Chinos</a></li>
								</ul>	
								
							</div>
						</div>
												<div class="col1 col2">	
							<div class="h_nav">
								<h4>Lip</h4>
								
									<ul>
										<li><a href="product.html">Shirts</a></li>
										<li><a href="product.html">Shoes, Boots & Trainers</a></li>
										<li><a href="product.html">Sunglasses</a></li>
										<li><a href="product.html">Sweatpants</a></li>
										<li><a href="product.html">Swimwear</a></li>
										<li><a href="product.html">Trousers & Chinos</a></li>
										
									</ul>	
								
							</div>							
						</div>
						<div class="col1 col2">
						<img src="images/make.jpg" class="img-responsive" alt="">
						</div>
						<div class="clearfix"></div>
					</div>                  
				</div>	