  <a class="color2" href="#" class="dropdown-toggle" data-toggle="dropdown">Makeup<span class="caret"></span></a>
				<div class="dropdown-menu mega-dropdown-menu">
                    <div class="menu-top">
						<div class="col1 col2">
							<div class="h_nav">
								<a href="#" class="nopad"><h4>Face</h4></a>
									<ul>
										<li><a href="">Foundation</a></li>
										<li><a href="">Face primer</a></li>
										<li><a href="">Color correct</a></li>
										<li><a href="">Highlighter</a></li>
									</ul>
							</div>
						</div>
						<div class="col1 col2">
							<div class="h_nav">
								<a href="#" class="nopad"><h4>Cheek</h4></a>
								<ul>
										<li><a href="">Blush</a></li>
										<li><a href="">Cheek Palettes</a></li>
										<li><a href="">Bronzer</a></li>
										<li><a href="">Contour</a></li>
									</ul>
							</div>
						</div>
						<div class="col1 col2">
							<div class="h_nav">
								<a href="#" class="nopad"><h4>Eye</h4></a>

								<ul>
									<li><a href="">Mascara</a></li>
									<li><a href="">Eyeliner</a></li>
									<li><a href="">Eyebrow</a></li>
									<li><a href="">Eye Sets</a></li>
									<li><a href="">Eyeshadow</a></li>
								</ul>

							</div>
						</div>
												<div class="col1 col2">
							<div class="h_nav">
								<a href="#" class="nopad"><h4>Lip</h4></a>

									<ul>
										<li><a href="">Lipstick</a></li>
										<li><a href="">Lip Stain</a></li>
										<li><a href="">Lip Liner</a></li>
										<li><a href="">Lip Gloss</a></li>
										<li><a href="">Lip Plumper</a></li>

									</ul>

							</div>
						</div>
						<div class="col1 col2">
						<img src="../images/make.jpg" class="img-responsive" alt="">
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
