<a class="color1" href="#" class="dropdown-toggle" data-toggle="dropdown">Skincare<span class="caret"></span></a>
       <div class="dropdown-menu ">
                   <div class="menu-top">
           <div class="col1">
             <div class="h_nav">
               <a href="" class="nopad"><h4>Moisturizers</h4></a>
                 <ul>
                   <li><a href="/product/Moisturizers/NightCreams">Night Creams</a></li>
                   <li><a href="/product/Moisturizers/FaceOils">Face Oils</a></li>
                   <li><a href="/product/Moisturizers/Mists&Essences">Mists & Essences</a></li>
                   <li><a href="/product/Moisturizers/BB&CCCreams">BB & CC Creams</a></li>
                 </ul>
             </div>
           </div>
           <div class="col1">
             <div class="h_nav">
               <a href="" class="nopad"><h4>Cleansers</h4></a>
               <ul>
                   <li><a href="/product/Cleansers/Exfoliators">Exfoliators</a></li>
                   <li><a href="/product/Cleansers/Makekup Removers">Makekup Removers</a></li>
                   <li><a href="/product/Cleansers/Toners">Toners</a></li>
                   <li><a href="/product/Cleansers/Blotting Papers">Blotting Papers</a></li>
                 </ul>
             </div>
           </div>
           <div class="col1">
             <div class="h_nav">
               <a href="" class="nopad"><h4>Treatments</h4></a>
                 <ul>
                   <li><a href="/product/Treatments/FaceSerums">Face Serums</a></li>
                   <li><a href="/product/Treatments/Blemish&AcneTreatments">Blemish & Acne Treatments</a></li>
                   <li><a href="/product/Treatments/FacialPeels">Facial Peels</a></li>
                 </ul>

             </div>
           </div>
           <div class="col1 col5">
           <img src="../images/me.png" class="img-responsive" alt="">
           </div>
           <div class="clearfix"></div>
         </div>
       </div>
