<a class="color1" href="#" class="dropdown-toggle" data-toggle="dropdown">Fashion<span class="caret"></span></a>
       <div class="dropdown-menu ">
                   <div class="menu-top">
           <div class="col1">
             <div class="h_nav">
               <a href="" class="nopad"><h4>Moisturizers</h4></a>
                 <ul>
                   <li><a href="">Night Creams</a></li>
                   <li><a href="">Face Oils</a></li>
                   <li><a href="">Mists & Essences</a></li>
                   <li><a href="">BB & CC Creams</a></li>
                 </ul>
             </div>
           </div>
           <div class="col1">
             <div class="h_nav">
               <a href="" class="nopad"><h4>Cleansers</h4></a>
               <ul>
                   <li><a href="">Exfoliators</a></li>
                   <li><a href="">Makekup Removers</a></li>
                   <li><a href="">Toners</a></li>
                   <li><a href="">Blotting Papers</a></li>
                 </ul>
             </div>
           </div>
           <div class="col1">
             <div class="h_nav">
               <a href="" class="nopad"><h4>Treatments</h4></a>
                 <ul>
                   <li><a href="">Face Serums</a></li>
                   <li><a href="">Blemish & Acne Treatments</a></li>
                   <li><a href="">Facial Peels</a></li>
                 </ul>

             </div>
           </div>
           <div class="col1 col5">
           <img src="../images/me.png" class="img-responsive" alt="">
           </div>
           <div class="clearfix"></div>
         </div>
       </div>
