  <div class="container">
      <br>
      <center>
        <h1 style="font-weight:bold">ABOUT US</h1>
        <br>
        <h2>University of Science Ho Chi Minh City</h2>
        <h3>Information Technology</h3>
      </center>

      <br>
      <div class="col-sm-6 col-sm-6 col-xs-12">
        <center>
            <img src="images/520.jpg" alt="" style="width:100%;heght:100%">
            <p style="font-size: 20px; font-weight:bold">1412520 </br> Nguyễn Hoàng Thi</p>
        </center>
      </div>

      <div class="col-sm-6 col-sm-6 col-xs-12">
        <center>
            <img src="images/503.jpg" alt="" style="width:100%;heght:100%">
            <p style="font-size: 20px; font-weight:bold">1412503 </br> Nguyễn Thị Thanh Thảo</p>
        </center>
      </div>
    </div>
