<div class="contact">
  <div class="contact-form">
    <div class="container">
    <div class="col-md-6 contact-left">
    <div class="address">
    <div class=" address-grid">
        <i class="glyphicon glyphicon-map-marker"></i>
        <div class="address1">
          <h3>Address</h3>
          <p>345 Tran Hung Dao Street, Cau Kho Ward, District 1, Ho Chi Minh City</p>
        </div>
        <div class="clearfix"> </div>
      </div>
      <div class=" address-grid ">
        <i class="glyphicon glyphicon-phone"></i>
        <div class="address1">
        <h3>Our Phone:<h3>
          <p>01284562789</p>
        </div>
        <div class="clearfix"> </div>
      </div>
      <div class=" address-grid ">
        <i class="glyphicon glyphicon-envelope"></i>
        <div class="address1">
        <h3>Email:</h3>
          <p><a href="mailto:nghoangthi1@gmail.com"> nghoangthi1@gmail.com</a></p>
        </div>
        <div class="clearfix"> </div>
      </div>
      <div class=" address-grid ">
        <i class="glyphicon glyphicon-bell"></i>
        <div class="address1">
          <h3>Open Hours:</h3>
          <p>Monday-Sunday, 24/24</p>
        </div>
        <div class="clearfix"> </div>
      </div>
</div>
  </div>
  <div class="col-md-6 contact-top">
    <h3>Want to send a message to us?</h3>
    <form>
      <div>
        <span>Your Email </span>
        <input type="email" id="email" required>
      </div>
      <div>
        <span>Subject</span>
        <input type="text" id="subject" value="" >
      </div>
      <div>
        <span>Your Message</span>
        <textarea required id="msg"> </textarea>
      </div>
      <label class="hvr-skew-backward">
          <button id="btnSend" type="submit"> Send</button>
      </label>
</form>
  </div>
<div class="clearfix"></div>
</div>
</div>
<div class="map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.6585538420045!2d106.68721361441835!3d10.760776492332136!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f10f2489797%3A0xf48fe09c59894b94!2zMzQ1IFRy4bqnbiBIxrBuZyDEkOG6oW8sIEPhuqd1IEtobywgUXXhuq1uIDEsIEjhu5MgQ2jDrSBNaW5oLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1491851265864"></iframe>
    </div>
</div>

<script src="/js/contact.js"></script>
