<div class="container">
		<div class="login">
		
			<form>
			<div class="col-md-6 login-do login-right">
				<div class="login-mail">
					<input type="text" placeholder="Email" required="" name="email" id="email">
					<i  class="glyphicon glyphicon-envelope"></i>
				</div>
				<div class="login-mail">
					<input type="password" placeholder="Password" required="" name="password" id="pass">
					<i class="glyphicon glyphicon-lock"></i>
				</div>
				   <a class="news-letter " href="#">
						   <a class="btn btn-block btn-social btn-facebook login-mail">
						    <span class="fa fa-facebook"></span> Sign in with Facebook
						  </a>
					   </a>
				<label class="hvr-skew-backward">
					<button value="login" id="log-in">Log In</button>
				</label>
			</div>
			<div class="col-md-6 login-right">
				 <h3>Completely Free Account</h3>
				 
				 <p>When you are already our member, you may have a lot of priviledges. You will have your products promoted and sold at a very comfortable price... We can co-operate to bring each other profit.</p>
				<a href="register.html" class=" hvr-skew-backward">Register</a>

			</div>
			
			<div class="clearfix"> </div>
			</form>
		</div>

</div>
<script src="js/logIn.js"></script>