<div class="container">
		<div class="login">
			<form action="#" method="post">
			<div class="col-md-6 login-do">
			<div class="login-mail">
					<input type="text" placeholder="Name" required="">
					<i  class="glyphicon glyphicon-user"></i>
				</div>
				<div class="login-mail">
					<input type="text" placeholder="Phone number" required="">
					<i  class="glyphicon glyphicon-phone"></i>
				</div>
				<div class="login-mail">
					<input type="text" placeholder="Email" required="">
					<i  class="glyphicon glyphicon-envelope"></i>
				</div>
				<div class="login-mail">
					<input type="password" placeholder="Password" required="">
					<i class="glyphicon glyphicon-lock"></i>
				</div>

			
			</div>
			<div class="col-md-6 login-do">
				<img height="100" width="100" id="profile" src="" alt="profile-image"/>
				<input id="image" type="file" name="profile_photo" placeholder="Photo" required="">
				<label class="hvr-skew-backward">
					<input type="submit" value="Submit"  id="smit">
				</label>

			</div>
			
			<div class="clearfix"> </div>
			</form>
		</div>

</div>

<script src="js/register.js"></script>