<div class="container">
		<div class="login">
			<form id="signUpForm"
          enctype="multipart/form-data"
          method="post">
			<div class="col-md-6 login-do">
			<div class="login-mail">
					<input type="text" placeholder="Name" required="" id="name">
					<i  class="glyphicon glyphicon-user"></i>
				</div>
				<div class="login-mail">
					<input type="text" placeholder="Phone number" required="" id="tel">
					<i  class="glyphicon glyphicon-phone"></i>
				</div>
				<div class="login-mail">
					<input type="email" placeholder="Email" required="" id="email">
					<i  class="glyphicon glyphicon-envelope"></i>
				</div>
				<div class="login-mail">
					<input type="password" placeholder="Password" required="" id="pass">
					<i class="glyphicon glyphicon-lock"></i>
				</div>

			
			</div>
			<div class="col-md-6 login-do">
				<img height="100" width="100" id="profile" src="" alt="profile-image"/>
				<input id="image" type="file" name="userPhoto" placeholder="Photo" required="">
				<label class="hvr-skew-backward">
					<input type="submit" value="Submit"  id="smit">
					<span id = "status"></span>
				</label>

			</div>
			
			<div class="clearfix"> </div>
			</form>
		</div>

</div>
<script src="../js/register.js"></script>