<!DOCTYPE html>
<html lang="en">

<head>
    {{> referenceAdmin}}
    <title>{{tit}}</title>
</head>

<body>

    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            {{>headerAdmin}}
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            {{>sidebarStaff}}
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">
              <!-- Page Heading -->
              {{{body}}}

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

</body>

</html>
